<section>
  <form action="/transact", method="POST">
    <input type="hidden" name="redirect" value="/" />
    <input type="text" name="name" placeholder="John Doe" />
    <input type="number" name="amount" placeholder="100" />
    <input type="submit" />
  </form>
</section>
