<section>
  <form class="transact-form" action="/transact", method="POST">
    <input type="text" name="name" placeholder="John Doe" autocomplete="off" required />
    <input type="number" name="amount" placeholder="Amount" autocomplete="off" required />
    <input type="submit" />
  </form>
</section>
