<section class="list-wrap">
  <h2 class="current-total">{{total}}</h2>
  <ul class="transaction-list">
    {{#each rows}}
      <li>
        <span class="li-name">{{name}}</span>
        -
        <span class="li-value">{{transaction_value}}</span>
      </li>
    {{/each}}
  </ul>
</section>
