<header>
  <div class="header-wrap">
    <a href="/" class="nav-button fa fa-home" style="font-size:30px"></a>
    <h1 class="page-title">{{upperCase title}}</h1>
    <a href="/form" class="nav-button fa fa-money" style="font-size:30px"></a>
  </div>
  <div class="avatar">
    {{#if authenticated}}
      <img src="{{githubImage}}" alt="github image">
      <span>{{githubUsername}}</span>
      <a href="/logout" class="log-out">Log out?</a>
    {{else}}
      <a href="/login" class="fa fa-github login" style="font-size:40px"></a>
      <a href="/login" class="log-out">Log in</a>
    {{/if}}
  </div>
</header>
