<header class="header-wrap">
  <a href="/" class="nav-button fa fa-home" style="font-size:30px"></a>
  <h1 class="page-title">{{upperCase title}}</h1>
  <a href="/form" class="nav-button fa fa-ils" style="font-size:30px"></a>
</header>
